{% extends "base_template.html" %}
{% block content %}
<h3>Список офисов и их посетителей</h3>
    <table class="rtable">
      {% for office in offices %}
      <td>
        <p> Офис номер {{office}}
        </p>
        <ol>
          {% if not office is none %}
          {% for visitor in offices[office] %}
            <li>
              <p>{{visitor}}</p>
            </li>
          {% endfor %}
          {% endif %}
        </ol>
      </td>
      {% endfor %}
    </table>
  <br>
  <p>Очередь ожидающих входа в офис</p>
  <ul>
    {% for waiting in queue %}
      <li>
        <p>{{waiting}}</p>
      </li>
    {% endfor %}
  </ul>
  <p>Выберите действие:</p>
  <a href="/add_user">Добавить пользователя в офис.</a><br>
  <a href="/user_info">Вывести информацию о пользователе</a><br><br>
  <p>Переход к более позднему времени</p>
  <form action = "skip_time" method = "post">
    <p><input type="number" name="add_hours" value="1" min="1" max="10">
      Укажите количество часов на которое переместиться вперед (не более 10)</p>
    <input type="submit" name="actions" value="Выполнить">
  </form>

{% endblock %}
